- name: creating ec2 instance and update dns
  hosts: all
  connection: local
  # vars:
  #   ami_id: ami-0220d79f3f480ecf5
  #   region: us-east-1
  #   securitygroup_id: sg-0439749f7885872a1
  #   zone_id: Z08836952WMRI129YL5JF
  #   zone: daws88.online
  #   type: t3.micro
  # vars_files:
  #   - vars.yaml
  
  tasks:
    - name: Download vars file from s3
      amazon.aws.s3_object:
        bucket: secrets-ansible
        object: vars.yaml
        dest: /tmp/vars.yaml
        mode: get
        region: us-east-1
        tags:
          - create
          - delete
    
    - name: load variables from vars.yaml
      ansible.builtin.include_vars:
        file: /tmp/vars.yaml
      tags:
        - create
        - delete

    - name: creating ec2 instance
      amazon.aws.ec2_instance:
        name: "{{ item }}"
        region: "{{ region }}"
        image_id: "{{ ami_id }}"
        security_group: "{{ securitygroup_id }}"
        instance_type: "{{ type }}"
        wait: yes
        tags:
          name: "{{ item }}"
      loop: "{{ instance_name }}"
      register: ec2_output
      tags: create

    - name: print ec2_output
      ansible.builtin.debug:
        msg: "{{ ec2_output }}"
      tags: create

    - name: creating dns
      amazon.aws.route53:
        state: present
        zone: "{{ zone }}"
        record: "{{ item.item }}.{{ zone }}"
        type: A
        value: "{{ item.instances[0].public_ip_address if item.item == 'frontend' else item.instances[0].private_ip_address }}"
        ttl: 1
        overwrite: true
      loop: "{{ ec2_output.results }}"
      tags: create

    - name: Show created DNS records
      ansible.builtin.debug:
        msg: "{{ item.item }}.{{ zone }}"
      loop: "{{ ec2_output.results }}"
      tags: create


## deletion tasks
    - name: deleting ec2 instance
      amazon.aws.ec2_instance:
        name: "{{ item }}"
        region: "{{ region }}"
        state: absent
        wait: yes
      loop: "{{ instance_name }}"
      register: ec2_delete_output
      tags: delete

    - name: deleting dns records
      amazon.aws.route53:
        state: absent
        zone: "{{ zone }}"
        record: "{{ item }}.{{ zone }}"
        type: A
      loop: "{{ instance_name }}"
      tags: delete

    - name: Show deleted resources
      ansible.builtin.debug:
        msg: "Deleted: {{ item }}.{{ zone }}"
      loop: "{{ instance_name }}"
      tags: delete