- name: creating ec2 instance and update dns
  hosts: all
  connection: local
  # vars:
  #   ami_id: ami-0220d79f3f480ecf5
  #   region: us-east-1
  #   securitygroup_id: sg-0439749f7885872a1
  #   zone_id: Z08836952WMRI129YL5JF
  #   zone: daws88.online
  #   type: t3.micro
  vars_files:
    - vars.yaml
  
  tasks:
    - name: creating ec2 instance
      amazon.aws.ec2_instance:
        name: "{{ item }}"
        region: "{{ region }}"
        image_id: "{{ ami_id }}"
        security_group: "{{ securitygroup_id }}"
        instance_type: "{{ type }}"
        wait: yes
        tags:
          name: "{{ item }}"
      loop: "{{ instance_name }}"
      register: ec2_output

    - name: print ec2_output
      ansible.builtin.debug:
        msg: "{{ ec2_output }}"

    - name: creating dns
      amazon.aws.route53:
        state: present
        zone: "{{ zone }}"
        record: "{{ item.item }}.{{ zone }}"
        type: A
        value: "{{ item.instances[0].public_ip_address if item.item == 'frontend' else item.instances[0].private_ip_address }}"
        ttl: 1
        overwrite: true
      loop: "{{ ec2_output.results }}"

    - name: Show created DNS records
      ansible.builtin.debug:
        msg: "{{ item.item }}.{{ zone }}"
      loop: "{{ ec2_output.results }}"